.Paginator {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  a {
    background-color: palevioletred;
    color: #FFFFFF;
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
    text-decoration: none;
  }
}
