.TaskList {
  background-color: gainsboro;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  width: 600px;

  h1 {
    font: 700 20px "Arial", sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
}
